.homie {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
    justify-content: center;
}

.newsPaper {
    display: flex;
    flex-wrap: wrap;
    width: 60rem;
    flex-direction: row;
    background-image: url('https://i.pinimg.com/564x/90/8b/34/908b34367bd87750adc62649590804b4.jpg');
    background-size: cover;
    justify-content: space-around;
    border-radius: .5rem;
    margin-bottom: .5rem;
}

.title {
    color: rgb(202, 202, 202);
}

.blurb {
    margin-top: 2rem;
    width: 432px;
    font-family: "Times New Roman";
}

.secondBlurb {
    font-family: "Times New Roman";
    display: flex;
    flex-wrap: wrap;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.h3 {
    display: flex;
    font-family: "Times New Roman";
    font-weight: bold;
    justify-content: center;
}

.h4 {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.twitBKG {
    display: flex;
    margin-top: 2rem;
    width: 25rem;
    object-fit: scale-down;
    border-color: black;
    border: .8rem;
    border-style: solid;
    border-radius: .5rem;
}

.para {
    font-weight: bold;
}


@media only screen and (max-width: 430px) {

    .para {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .twitBKG {
        margin-bottom: 1rem;
    }

    .secondBlurb {
        width: 432px;
    }

    /* .tweet {
        width: 400px;
    } */
}