.homie {
    display: flex;
    padding-top: 5rem;
}

.newsPaper {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(193, 173, 122);
    background: linear-gradient(#000, #000) no-repeat center/2px 100% rgb(193, 173, 122);
    width: 60rem;
    justify-content: space-between;
}

.title {
    color: rgb(147, 144, 144);
}

.blurb {
    margin-top: 2rem;
    width: 25rem;
    font-family: "Times New Roman";
}

.h3 {
    display: flex;
    font-family: "Times New Roman";
    font-weight: bold;
    justify-content: center;
}

.twitBKG {
    display: flex;
    margin-top: 2rem;
    width: 25rem;
    object-fit: scale-down;
}

.para {
    font-weight: bold;
}

.spotify {
    background-color: aliceblue;
    width: 25rem;
}