
.twitter-timeline{
    width: 75rem;
    height: auto;
    padding: 20px;
}

@media only screen and (max-width: 430px){

    .twitter-timeline{
        padding: 0px;
        width: 100vw !important;
    }

}